$uni-color-primary: #033481;
$uni-color-success: #176551;
$uni-color-warning: #C2A26B;
$uni-color-error: #A64F4A;
$uni-text-color: #17233B;
$uni-bg-color: #F4F6FA;
$uni-border-color: #E7EAF0;
$uni-border-radius-base: 12px;
